h1 {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
}

#key {
  position: fixed;
  top: 0px;
  right: 10px;
  bottom: 0px;
  margin-top: 8px;
  width: 25%;
  overflow: scroll; }
}

p {
  font-size: 20px;
}

form {
  margin-top: 15px;
}

ul {
  list-style-type: square;
}

@media only screen and (max-width: 720px) {
  #key {
    position: relative;
    width: 100%;
  }
}
