<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' type='text/css'>
  </head>

  <body>

    <h1>Events</h1>
    <ul>
      <% @events.each do |event| %>
        <br />
        <p>Date: <%= event.date %></p>
        <a href="<%= event.event_url %>"/>
        <p>Event: <%= event.event_name %></p>
        <p>Group: <%= event.group_name %></p></a>
        <br />
      <% end %>
    </ul>
  </body>
</html>


